<div class="container">
  <!-- Form Container -->
  <div class="row justify-content-center">
      <div class="col-md-8">
          <div class="form-container">
              <h2 class="form-header" >Update Form</h2>
              <form [formGroup]="orderItemForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                  <label for="orderId" class="form-label" >Order ID</label>
                  <input type="number" class="form-control" id="orderId" formControlName="orderId" required>
              </div>
                <div class="mb-3">
                  <label for="productId" class="form-label" >Product ID</label>
                  <input type="number" class="form-control" id="productId" formControlName="productId" required>
              </div>
              <div class="mb-3">
                  <label for="quantity" class="form-label" >Quantity</label>
                  <input type="number" class="form-control" id="quantity" formControlName="quantity" required>
              </div>
              <div class="mb-3">
                  <label for="unitPrice" class="form-label" >Unit Price</label>
                  <input type="number" class="form-control" id="unitPrice" formControlName="unitPrice" required>
              </div>
              <div class="mb-3">
                  <label for="totalPrice" class="form-label" >Total Price</label>
                  <input type="number" class="form-control" id="totalPrice" formControlName="totalPrice" required>
              </div>
              <div class="mb-3">
                  <label for="discount" class="form-label" >Discount</label>
                  <input type="number" class="form-control" id="discount" formControlName="discount" required>
              </div>
              <div class="mb-3">
                  <label for="tax" class="form-label" >Tax</label>
                  <input type="number" class="form-control" id="tax" formControlName="tax" required>
              </div>

              <!-- Submit and Reset Buttons -->
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button type="reset" class="btn btn-secondary me-md-2">Reset</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
              </div>
              </form>
          </div>
      </div>
  </div>
</div>
