<div class="container">
  <!-- Form Container -->
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="form-container">
        <h2 class="form-header" style="color: blanchedalmond;">Update Discount</h2>
        <form [formGroup]="discountForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="discountId" class="form-label" style="color: blanchedalmond;">Discount ID</label>
            <input type="number" class="form-control" id="discountId" formControlName="discountId" required>
          </div>

          <div class="mb-3">
            <label for="discountCode" class="form-label" style="color: blanchedalmond;">Discount Code</label>
            <input type="text" class="form-control" id="discountCode" formControlName="discountCode" required>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label" style="color: blanchedalmond;">Description</label>
            <input type="text" class="form-control" id="description" formControlName="description" required>
          </div>

          <div class="mb-3">
            <label for="discountType" class="form-label" >Discount Type</label>
            <select class="form-control" id="discountType" formControlName="discountType" required>
              <option value="percentage">Percentage</option>
              <option value="fixed amount">Fixed Amount</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="amount" class="form-label" >Discount Amount</label>
          <input type="number" class="form-control" id="amount" formControlName="amount" required>
      </div>
        <!-- Start Date -->
        <div class="mb-3">
            <label for="validFrom" class="form-label" >Start Date</label>
            <input type="date" class="form-control" id="startDate" formControlName="validFrom" required>
        </div>

        <!-- End Date -->
        <div class="mb-3">
            <label for="validUntil" class="form-label" >End Date</label>
            <input type="date" class="form-control" id="validUntil" formControlName="validUntil" required>
        </div>

        <!-- Status -->
        <div class="mb-3">
            <label for="status" class="form-label" >Status</label>
            <select class="form-control" id="status" formControlName="status" required>
                <option value="Active">Active</option>
                <option value="Expired">Expired</option>
            </select>
        </div>

        <!-- Submit and Reset Buttons -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="reset" class="btn btn-secondary me-md-2">Reset</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
