<app-adminsidenav></app-adminsidenav>

<div class="container mt-5">
  <table class="table table-dark table-striped table-hover table-bordered text-center">
    <thead class="table-secondary">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Order ID</th>
        <th scope="col">Shipping Date</th>
        <th scope="col">Delivery Date</th>
        <th scope="col">Carrier</th>
        <th scope="col">Tracking Number</th>
        <th scope="col">Status</th>
        <th scope="col">Delivery Address</th>
        <th scope="col">Shipping Cost</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let shipment of shipmentList">
        <td>{{ shipment.id }}</td>
        <td>{{ shipment.orderId }}</td>
        <td>{{ shipment.shippingDate }}</td>
        <td>{{ shipment.deliveryDate }}</td>
        <td>{{ shipment.carrierName }}</td>
        <td>{{ shipment.trackingNumber }}</td>
        <td>{{ shipment.shipmentStatus }}</td>
        <td>{{ shipment.deliveryAddress }}</td>
        <td>{{ shipment.shippingCost }}</td>
        <td>
          <a [routerLink]="['/updateshipment', shipment.id]" class="btn btn-outline-success btn-sm me-2">Edit</a>
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="delete(shipment.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-end">
    <a routerLink="/createshipment" class="btn btn-outline-dark">Add New Shipment</a>
  </div>
</div>
