<div class="container">
  <!-- Form Container -->
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="form-container">
        <h2 class="form-header" >Update Payment</h2>
        <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">

          <div class="mb-3">
            <label for="paymentId" class="form-label" >Payment ID</label>
            <input type="number" class="form-control" id="paymentId" formControlName="paymentId" required>
          </div>

          <div class="mb-3">
            <label for="orderId" class="form-label" >Order ID</label>
            <input type="number" class="form-control" id="orderId" formControlName="orderId" required>
          </div>
          <div class="mb-3">
            <label for="customerId" class="form-label" >Customer ID</label>
            <input type="number" class="form-control" id="customerId" formControlName="customerId" required>
          </div>
          <div class="mb-3">
            <label for="amount" class="form-label" >Amount</label>
            <input type="number" class="form-control" id="amount" formControlName="amount" required>
          </div>
          <div class="mb-3">
            <label for="paymentMethod" class="form-label" >Payment Method</label>
            <input type="text" class="form-control" id="paymentMethod" formControlName="paymentMethod" required>
          </div>
          <div class="mb-3">
            <label for="paymentStatus" class="form-label" >Payment Status</label>
            <input type="text" class="form-control" id="paymentStatus" formControlName="paymentStatus" required>
          </div>
          <div class="mb-3">
            <label for="currency" class="form-label" >Currency</label>
            <input type="text" class="form-control" id="currency" formControlName="currency" required>
          </div>
          <div class="mb-3">
            <label for="transactionId" class="form-label" >Transaction ID</label>
            <input type="text" class="form-control" id="transactionId" formControlName="transactionId" required>
          </div>
          <div class="mb-3">
            <label for="paymentDate" class="form-label" >Payment Date</label>
            <input type="date" class="form-control" id="paymentDate" formControlName="paymentDate" required>
          </div>

          <!-- Submit and Reset Buttons -->
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="reset" class="btn btn-secondary me-md-2">Reset</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
