<app-adminsidenav></app-adminsidenav>



<div class="container mt-5">
  <a routerLink="/createemployee">
    <button type="button" class="btn btn-outline-dark">Add New Employee</button>
  </a>
  <table class="table table-dark table-striped table-hover table-bordered text-center">
    <thead class="table-secondary">
      <tr>
        <th scope="col">Employee ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Hire Date</th>

        <th scope="col">Salary</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let val of employeeList">
        <td>{{ val.employeeId }}</td>
        <td>{{ val.name }}</td>
        <td>{{ val.email }}</td>
        <td>{{ val.phone }}</td>
        <td>{{ val.hireDate }}</td>
        <td>{{ val.salary }}</td>
        <td>{{ val.status }}</td>

        <td>
          <a [routerLink]="['/updateemployee/', val.employeeId]">
            <button type="button" class="btn btn-outline-success btn-sm">Edit</button>
          </a>
          |
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="delete(val.employeeId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-end">

  </div>
</div>
