<div class="container mt-5">
  <table class="table table-dark table-striped table-hover table-bordered text-center">
    <thead class="table-secondary">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Address</th>
        <th scope="col">Course</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let val of categoryList">
        <td>{{ val.id }}</td>
        <td>{{ val.name }}</td>
        <td>{{ val.description }}</td>

        <td>
          <a [routerLink]="['/su/', val.id]">
            <button type="button" class="btn btn-outline-success btn-sm">Edit</button>
          </a>
          |
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="delete(val.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-end">
    <a routerLink="/sc">
      <button type="button" class="btn btn-outline-dark ">Add New Student</button>
    </a>
  </div>
</div>




