<div class="container">
  <!-- Form Container -->
  <div class="row justify-content-center">
      <div class="col-md-8">
          <div class="form-container">
              <h2 class="form-header" >Entry Form</h2>
              <form [formGroup]="notificationForm" (ngSubmit)="onSubmit()">

                  <!-- Notification ID -->
                  <div class="mb-3">
                      <label for="notificationId" class="form-label" >Notification ID</label>
                      <input type="number" class="form-control" id="notificationId" formControlName="notificationId" required>
                  </div>

                  <!-- Message -->
                  <div class="mb-3">
                      <label for="message" class="form-label" >Message</label>
                      <input type="text" class="form-control" id="message" formControlName="message" required>
                  </div>

                  <!-- Status -->
                  <div class="mb-3">
                      <label for="status" class="form-label" >Status</label>
                      <select class="form-control" id="status" formControlName="status" required>
                          <option value="Active">Active</option>
                          <option value="Inactive">Inactive</option>
                      </select>
                  </div>

                  <!-- Created At -->
                  <div class="mb-3">
                      <label for="createdAt" class="form-label" >Created At</label>
                      <input type="datetime-local" class="form-control" id="createdAt" formControlName="createdAt" required>
                  </div>

                  <!-- Notification Type -->
                  <div class="mb-3">
                      <label for="notificationType" class="form-label" >Notification Type</label>
                      <input type="text" class="form-control" id="notificationType" formControlName="notificationType" required>
                  </div>

                  <!-- User Name -->
                  <div class="mb-3">
                      <label for="userName" class="form-label" >User Name</label>
                      <input type="text" class="form-control" id="userName" formControlName="userName" required>
                  </div>

                  <!-- Submit and Reset Buttons -->
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <button type="reset" class="btn btn-secondary me-md-2">Reset</button>
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
