<div class="container mt-5">
  <table class="table table-dark table-striped table-hover table-bordered text-center">
    <thead class="table-secondary">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Capacity</th>
        <th scope="col">Contact Info</th>
        <th scope="col">Status</th>
        <th scope="col">Manager ID</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let warehouse of warehouseList">
        <td>{{ warehouse.warehouseId }}</td>
        <td>{{ warehouse.warehouseName }}</td>
        <td>{{ warehouse.warehouseAddress }}</td>
        <td>{{ warehouse.capacity }}</td>
        <td>{{ warehouse.contactInfo }}</td>
        <td>{{ warehouse.status }}</td>
        <td>{{ warehouse.managerId }}</td>
        <td>
          <a [routerLink]="['/updatewarehouse', warehouse.warehouseId]" class="btn btn-outline-success btn-sm me-2">Edit</a>
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="delete(warehouse.warehouseId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-end">
    <a routerLink="/createwarehouse" class="btn btn-outline-dark">Add New Warehouse</a>
  </div>
</div>
